<nav class="navbar navbar-expand-lg navbar-light bg-secondary" *ngIf="mostrarMenu">
  <a class="navbar-brand" routerLink = "">ChatBot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" arial-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink = "chat-dialog" routerLinkActive="active">Chat-Dialog</a>
      <a class="nav-item nav-link" routerLink = "login" routerLinkActive="active">Login</a>
      <a class="nav-item nav-link" routerLink = "sobre" routerLinkActive="active">Sobre</a>
      <a class="nav-item nav-link" routerLink = "contato" routerLinkActive="active">Contato</a>
    </div>
    <button type="button" class="btn btn-primary" (click)="logout()" style="margin: 15px">Logout</button>
  </div>
</nav>